<mat-toolbar color="primary">
  <button *ngIf="!isRootLevel" (click)="upLevel.next()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
  <span>Control Center</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="loadData()"><mat-icon>refresh</mat-icon></button>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs backgroundColor="primary">
  <mat-tab label="Commands">
    <app-option-list [options]="commands" (commandSelected)="commandSelected($event)" (levelChanged)="levelChanged($event)" [levelUp]="upLevel"></app-option-list>
  </mat-tab>
  <mat-tab label="Status">
    <app-status-list [status]="status"></app-status-list>
  </mat-tab>
</mat-tab-group>
